* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

body {
  background-image: url("bgr.jpg"), url("bgr2.jpg");
  background-repeat: no-repeat repeat-y;
  background-repeat: no-repeat, repeat-y;
  background-position: left 0 top 0, left 0 bottom 0px;
}

#topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
  height: 100%;
}

#selectorContainer {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 70vw;
  height: 8vh;
}

#flightsContainer {
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#flightList {
  height: 50vh;
  width: 60vw;
}

#calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectorLabelContainer {
  width: 100%
}

.selectorLabel {
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: small;
  color: gray;
  padding-left: 10px;
  padding-top: 4px;
}

.flightTable {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.flightTable tbody {
  background: white;
  width: 100%;
  overflow: auto;
}

.flightTable thead tr {
  display: block;
  background-color: lightgray;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.flightTable th, .flightTable td {
  padding: 0vh 0vw 0vh 2vw;
  width: 20vw;
  height: 4vh;
  text-align: left;
}

#overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: lightgray;
  opacity: 0.5;
}

#overlay-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#spinner {
  min-height: 150px;
  min-width: 150px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: black;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  width: 50vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  margin: 1vh 0vw;
  padding: 0.5vh 0vw;
}

.label-calendar {
  color: white;
  padding-bottom: 1vh;
}

.calendar {
  border-radius: 20px;
  min-width: 30%;
}

.react-calendar__navigation {
  height: 5vh;
}

.react-calendar__tile:enabled:hover {
  color: black;
  background-color: #CCE9F4;
}

.react-calendar__tile--now {
  color: black;
  background: #FFF6E0;
}

.react-calendar__tile--active {
  background: #7DBFD8 !important;
  color: black;
}

.calendar-tile {
  border-radius: 20px;
  padding: 2vh 1.5vw !important;
}

.calendar-tile:disabled {
  opacity: 0.5;
  background-color: white;
}

.react-calendar__navigation__prev2-button {
  border-top-left-radius: 20px;
}

.react-calendar__navigation__next2-button {
  border-top-right-radius: 20px;
}

.react-calendar__navigation button[disabled] {
  opacity: 0.5;
  background-color: white;
}

.hidden {
  visibility: hidden;
}

.visible-animate {
  visibility: show;
  animation: fadein 0.5s linear;
}

@keyframes fadein {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

#button-switch {
  border: 0px;
  cursor: pointer;
  outline: none;
  background: none;
}

#switch-container {
  min-width: 30px;
  margin: 0 2% 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#svg-switch {
  width: 30px;
  height: 30px;
  fill: white;
  transform-origin: center center;
  transition: all 0.5s linear;
}

#svg-switch:hover {
  transform: rotate(180deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@media only screen and (max-width: 1024px) {
  #selectorContainer {
    width: 90vw;
  }
  #flightList {
    width: 90vw;
  }
}